.item{
    display: flex;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 700px;
  width: 50px;
  text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#item-button{
    display: flex;
    align-items: center;
 height: 200px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  width: 200px;
  border-radius: 10px;
}
#cart-heading{
    width: 500;
    height: 500px;
    padding: auto;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
#description{
    font-size: 1em;
   
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#quantity-num{
    border-radius: 100px;
    border-color: black;
    margin-top: 200px;
    margin-bottom: 100px;

}
#sub-sign{
    border-radius: 100px;
    border-radius: 10%;
    border-color: black;
    
}
    

    
    


   