*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 20px;
    color:rgb(145, 43, 43);
}
hr{
    
    border:0px 0px 5px 5px solid rgb(145, 43, 43);
    width: 100%;
}
.navbar-container{
    padding: 10px;
    /* background-color: rgb(145, 43, 43); */
    border-radius: 0px 0px 10px 10px;
    color: rgb(145, 43, 43);
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.call-cart-buttons{
    display: flex;
    gap: 5px;

}
#box{
    height: 300px;
    width: 500px;
    border: 2px solid black;
    margin: 50px;
    /* background-image: ; */
}

.nav-icons{
    height: 30px;
    width: 30px;
}
.hr-line{
    width: 100%;
    height: 5px;
    background-color: rgb(145, 43, 43);
    margin-bottom: 20px;
}
.welcome_page_img{
    width: 100%;
    height: 100px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    color: rgb(101, 16, 16);
    gap: 50px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    font-size: 1rem;
    font-weight: bold;
    justify-content: space-between;

    

}
.button_text{
    padding:10 ;
    width:10;
    height: 10px;

}
.menu_page{
    width: 5%;
    

}